/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-sans-kr-v27-korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('./fonts/noto-sans-kr-v27-korean-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/noto-sans-kr-v27-korean-regular.woff') format('woff'),
    /* Safari, Android, iOS */ url('./fonts/noto-sans-kr-v27-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Noto Sans KR';
}
